In [ ]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import gmaps
import os
import apikey as api_key
import json
import ipywidgets
import numpy as np

In [ ]:
# Import CSVs for 2015-2018 
crime_15 = "Crime_Database/Data/crimedata2015.csv"
crime_16 = "Crime_Database/Data/crimedata2016.csv"
crime_17 = "Crime_Database/Data/crimedata2017.csv"
crime_18 = "Crime_Database/Data/crimedata2018.csv"
crime_data_15 = pd.read_csv(crime_15)
crime_data_16 = pd.read_csv(crime_16)
crime_data_17 = pd.read_csv(crime_17)
crime_data_18 = pd.read_csv(crime_18)

In [3]:
## Comments to group:
# Merge cannot be performed until data is cleaned, too much Memory is used 
# I can merge CSVs by file and chunk size but some data will be lost, figured cleaning each was better for graphs
# I am unable to filter by the crimes in highest_offense_desc row, tried setting as index and renaming column
# highest_offense_desc row is only row that will not filter
# I will be using the highest_offense row for simplification, think it will read better for graphs anyway

In [4]:
# Cleaning 2015 DF
# Drop columns
crime_15_df = crime_data_15.drop(columns= {"highest_offense_desc", "council_district", "location", "district"})
crime_15_df

      highest_offense       date      zip    x_coord     y_coord
0             Robbery   1-Jan-15  78753.0  3130483.0  10102366.0
1             Robbery   1-Jan-15  78751.0  3124730.0  10090296.0
2            Burglary   1-Jan-15  78753.0  3135985.0  10117220.0
3            Burglary   1-Jan-15  78753.0  3129896.0  10096032.0
4            Burglary   1-Jan-15  78744.0  3110455.0  10039340.0
...               ...        ...      ...        ...         ...
38568           Theft  31-Dec-15  78702.0  3124675.0  10072478.0
38569           Theft  31-Dec-15  78750.0  3096285.0  10140738.0
38570           Theft  31-Dec-15  78731.0  3109504.0  10101310.0
38571           Theft  31-Dec-15  78724.0  3150290.0  10079608.0
38572           Theft  31-Dec-15  78758.0  3127286.0  10120469.0

[38573 rows x 5 columns]

In [5]:
# 2016 DF
crime_16_df = crime_data_16.drop(columns= {"highest_offense_desc", "council_district", "location_rec", "district"})
crime_16_df

      highest_offense   date_rec      zip    x_coord     y_coord
0         Agg Assault   1-Jan-16  78735.0  3067322.0  10062796.0
1               Theft   1-Jan-16  78701.0  3114957.0  10070462.0
2             Robbery   1-Jan-16  78753.0  3129181.0  10106923.0
3               Theft   1-Jan-16  78701.0  3113643.0  10070357.0
4                Rape   1-Jan-16  78753.0        NaN         NaN
...               ...        ...      ...        ...         ...
37456           Theft  31-Dec-16  78757.0  3117454.0  10109065.0
37457           Theft  31-Dec-16  78701.0  3113924.0  10070794.0
37458           Theft  31-Dec-16  78723.0  3132812.0  10084356.0
37459           Theft  31-Dec-16  78742.0  3131778.0  10062481.0
37460           Theft  31-Dec-16  78705.0  3113521.0  10079906.0

[37461 rows x 5 columns]

In [6]:
# 2017 DF
crime_17_df = crime_data_17.drop(columns= {"highest_offense_desc","council_district", "location", "district"})
crime_17_df

      highest_offense       date      zip    x_coord     y_coord
0          Auto Theft   3-Feb-17  78724.0  3143028.0  10083917.0
1         Agg Assault  25-Feb-17  78701.0  3115154.0  10070604.0
2               Theft  12-Feb-17  78753.0  3135452.0  10127757.0
3               Theft  22-Feb-17  78753.0  3129996.0  10096983.0
4               Theft   8-Mar-17  78744.0  3121692.0  10046564.0
...               ...        ...      ...        ...         ...
35092           Theft  24-Feb-17  78753.0  3139776.0  10125039.0
35093      Auto Theft  26-Feb-17  78704.0  3099717.0  10059580.0
35094        Burglary  24-Mar-17  78729.0  3101704.0  10135237.0
35095     Agg Assault  11-Mar-17  78701.0  3115843.0  10070697.0
35096           Theft   6-Feb-17  78758.0  3132188.0  10121986.0

[35097 rows x 5 columns]

In [7]:
# 2018 DF
crime_18_df = crime_data_18.drop(columns= {"highest_offense_desc","council_district", "location", "district"})
crime_18_df

      highest_offense       date      zip    x_coord     y_coord
0          Auto Theft  10-Dec-18  78705.0  3118304.0  10078620.0
1               Theft  16-Oct-18  78723.0  3124601.0  10084923.0
2               Theft  22-Jun-18  78703.0  3104471.0  10074894.0
3            Burglary   5-Jul-18  78751.0  3124538.0  10087177.0
4               Theft  24-Sep-18  78727.0  3129160.0  10126575.0
...               ...        ...      ...        ...         ...
37151      Auto Theft   1-Jul-18  78748.0  3084825.0  10028443.0
37152           Theft   3-Dec-18  78704.0  3111061.0  10053193.0
37153           Theft  31-Dec-18  78701.0  3115843.0  10066947.0
37154            Rape   4-Aug-18  78753.0        NaN         NaN
37155           Theft  17-Jun-18  78702.0  3123414.0  10068927.0

[37156 rows x 5 columns]

In [8]:
## Non-violent Crimes list pulled from SQL file in Database folder
crimes = ['ROBBERY BY ASSAULT','PUBLIC INTOX-SOBERING CENTER','PUBLIC INTOXICATION', 'GAMBLING PROMOTION',
          'URINATING IN PUBLIC PLACE','LIQUOR LAW VIOLATION/OTHER','COMMUNICATING GAMBLING INFO',
          'FORGERY OF IDENTIFICATION', 'SIT AND LIE ORDINANCE VIOL', 'DOC CREATING NOXIOUS ODOR', 'MAIL THEFT', 
          'DRIVING WHILE INTOX / FELONY','DEBIT CARD ABUSE','DOC WINDOW PEEPING - HOTEL','AMPLIFIED MUSIC / VEHICLE', 
          'ILLEGAL LABELLING OF RECORDING','POSSESSION OF MARIJUANA','ISSUANCE OF BAD CHECK','PROBATION VIOL', 'HAZING', 
          'ABANDONED REFRIGERATOR','POCKET PICKING','TAMPERING WITH ID NUMBER','GAMBLING','THEFT BY SHOPLIFTING', 
          'IDENTITY THEFT','SLEEPING IN PUBLIC PLACE','GRAFFITI', 'FORGERY - OTHER','AUTO THEFT']

## All crimes categorized within these categories, will be used for simplification on vizualizations
categories = ['Theft', 'Robbery', 'Auto Theft', 'Burglary', 'Agg Assault']

In [ ]:
crime_types= crime_18_df['highest_offense']
print(crime_types)

In [ ]:
# Filter by Crime Type- each DF
offenses_15 = (crime_15_df.loc[crime_15_df["highest_offense"] != 'Theft')
offenses_15

In [11]:
# 2016
offenses_16 = (crime_16_df.loc[crime_15_df["highest_offense"].isin(categories)])
offenses_16

      highest_offense   date_rec      zip    x_coord     y_coord
0         Agg Assault   1-Jan-16  78735.0  3067322.0  10062796.0
1               Theft   1-Jan-16  78701.0  3114957.0  10070462.0
2             Robbery   1-Jan-16  78753.0  3129181.0  10106923.0
3               Theft   1-Jan-16  78701.0  3113643.0  10070357.0
4                Rape   1-Jan-16  78753.0        NaN         NaN
...               ...        ...      ...        ...         ...
37456           Theft  31-Dec-16  78757.0  3117454.0  10109065.0
37457           Theft  31-Dec-16  78701.0  3113924.0  10070794.0
37458           Theft  31-Dec-16  78723.0  3132812.0  10084356.0
37459           Theft  31-Dec-16  78742.0  3131778.0  10062481.0
37460           Theft  31-Dec-16  78705.0  3113521.0  10079906.0

[36964 rows x 5 columns]

In [12]:
# 2017
offenses_17 = (crime_17_df.loc[crime_17_df["highest_offense"].isin(categories)])
offenses_17

      highest_offense       date      zip    x_coord     y_coord
0          Auto Theft   3-Feb-17  78724.0  3143028.0  10083917.0
1         Agg Assault  25-Feb-17  78701.0  3115154.0  10070604.0
2               Theft  12-Feb-17  78753.0  3135452.0  10127757.0
3               Theft  22-Feb-17  78753.0  3129996.0  10096983.0
4               Theft   8-Mar-17  78744.0  3121692.0  10046564.0
...               ...        ...      ...        ...         ...
35092           Theft  24-Feb-17  78753.0  3139776.0  10125039.0
35093      Auto Theft  26-Feb-17  78704.0  3099717.0  10059580.0
35094        Burglary  24-Mar-17  78729.0  3101704.0  10135237.0
35095     Agg Assault  11-Mar-17  78701.0  3115843.0  10070697.0
35096           Theft   6-Feb-17  78758.0  3132188.0  10121986.0

[34261 rows x 5 columns]

In [13]:
# 2018
offenses_18 = (crime_18_df.loc[crime_18_df["highest_offense"].isin(categories)])
offenses_18

      highest_offense       date      zip    x_coord     y_coord
0          Auto Theft  10-Dec-18  78705.0  3118304.0  10078620.0
1               Theft  16-Oct-18  78723.0  3124601.0  10084923.0
2               Theft  22-Jun-18  78703.0  3104471.0  10074894.0
3            Burglary   5-Jul-18  78751.0  3124538.0  10087177.0
4               Theft  24-Sep-18  78727.0  3129160.0  10126575.0
...               ...        ...      ...        ...         ...
37150        Burglary   3-Jul-18  78723.0  3126355.0  10081659.0
37151      Auto Theft   1-Jul-18  78748.0  3084825.0  10028443.0
37152           Theft   3-Dec-18  78704.0  3111061.0  10053193.0
37153           Theft  31-Dec-18  78701.0  3115843.0  10066947.0
37155           Theft  17-Jun-18  78702.0  3123414.0  10068927.0

[36320 rows x 5 columns]

In [ ]:
# Plot the Offenses vs Dates for each year 2015-2018
# Set x axis and tick locations

x_axis = np.arange(len(offenses_15))
tick_locations = [value for value in x_axis]

plt.figure(figsize=(20,3))
plt.bar(x_axis, offenses_15["highest_offense"], color='r', alpha=0.5, align="center")
plt.xticks(tick_locations, offenses_15["date"], rotation="vertical")

# Display graph
plt.savefig("Crimes2015.png")
plt.show()

In [ ]:
g_key = "AIzaSyCQRY-TmfYIztg9E8oNyUjEknsy9e7KHNs"
gmaps.configure(api_key= g_key)

In [ ]:
# mapping by zip or coordinates
# running API for gun, liquor stores
# mapping heat map, export to png