In [138]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import gmaps
import os
import apikey as api_key
import json
import ipywidgets

In [139]:
# Import CSVs for 2015-2018 
crime_15 = "Crime_Database/Data/crimedata2015.csv"
crime_16 = "Crime_Database/Data/crimedata2016.csv"
crime_17 = "Crime_Database/Data/crimedata2017.csv"
crime_18 = "Crime_Database/Data/crimedata2018.csv"
crime_data_15 = pd.read_csv(crime_15)
crime_data_16 = pd.read_csv(crime_16)
crime_data_17 = pd.read_csv(crime_17)
crime_data_18 = pd.read_csv(crime_18)

In [140]:
# Merge cannot be performed until data is cleaned, too much Memory is used

In [141]:
# Cleaning 2015 DF
# Drop columns
crime_15_df = crime_data_15.drop(columns= {"council_district", "location", "district"})
crime_15_df

,highest_offense_desc,highest_offense,date,zip,x_coord,y_coord
0,AGG ROBBERY/DEADLY WEAPON,Robbery,1-Jan-15,78753.0,3130483.0,10102366.0
1,ROBBERY BY ASSAULT,Robbery,1-Jan-15,78751.0,3124730.0,10090296.0
2,BURGLARY OF RESIDENCE,Burglary,1-Jan-15,78753.0,3135985.0,10117220.0
3,BURGLARY OF RESIDENCE,Burglary,1-Jan-15,78753.0,3129896.0,10096032.0
4,BURGLARY OF RESIDENCE,Burglary,1-Jan-15,78744.0,3110455.0,10039340.0
...,...,...,...,...,...,...
38568,THEFT,Theft,31-Dec-15,78702.0,3124675.0,10072478.0
38569,THEFT,Theft,31-Dec-15,78750.0,3096285.0,10140738.0
38570,THEFT,Theft,31-Dec-15,78731.0,3109504.0,10101310.0
38571,THEFT,Theft,31-Dec-15,78724.0,3150290.0,10079608.0
38572,THEFT,Theft,31-Dec-15,78758.0,3127286.0,10120469.0

In [143]:
# 2016 DF
crime_16_df = crime_data_16.drop(columns= {"council_district", "location_rec", "district"})
crime_16_df

,highest_offense_desc,highest_offense,date_rec,zip,x_coord,y_coord
0,AGG ASLT ENHANC STRANGL/SUFFOC,Agg Assault,1-Jan-16,78735.0,3067322.0,10062796.0
1,THEFT,Theft,1-Jan-16,78701.0,3114957.0,10070462.0
2,AGG ROBBERY/DEADLY WEAPON,Robbery,1-Jan-16,78753.0,3129181.0,10106923.0
3,THEFT,Theft,1-Jan-16,78701.0,3113643.0,10070357.0
4,SEXUAL ASSAULT W/ OBJECT,Rape,1-Jan-16,78753.0,NaN,NaN
...,...,...,...,...,...,...
37456,THEFT,Theft,31-Dec-16,78757.0,3117454.0,10109065.0
37457,THEFT,Theft,31-Dec-16,78701.0,3113924.0,10070794.0
37458,BURGLARY OF VEHICLE,Theft,31-Dec-16,78723.0,3132812.0,10084356.0
37459,BURGLARY OF VEHICLE,Theft,31-Dec-16,78742.0,3131778.0,10062481.0
37460,BURGLARY OF VEHICLE,Theft,31-Dec-16,78705.0,3113521.0,10079906.0

In [146]:
# 2017 DF
crime_17_df = crime_data_17.drop(columns= {"council_district", "location", "district"})
crime_17_df

,highest_offense_desc,highest_offense,date,zip,x_coord,y_coord
0,AUTO THEFT,Auto Theft,3-Feb-17,78724.0,3143028.0,10083917.0
1,AGG ASSAULT,Agg Assault,25-Feb-17,78701.0,3115154.0,10070604.0
2,BURGLARY OF VEHICLE,Theft,12-Feb-17,78753.0,3135452.0,10127757.0
3,BURGLARY OF VEHICLE,Theft,22-Feb-17,78753.0,3129996.0,10096983.0
4,THEFT,Theft,8-Mar-17,78744.0,3121692.0,10046564.0
...,...,...,...,...,...,...
35092,THEFT,Theft,24-Feb-17,78753.0,3139776.0,10125039.0
35093,AUTO THEFT,Auto Theft,26-Feb-17,78704.0,3099717.0,10059580.0
35094,BURGLARY OF RESIDENCE,Burglary,24-Mar-17,78729.0,3101704.0,10135237.0
35095,AGG ASSAULT,Agg Assault,11-Mar-17,78701.0,3115843.0,10070697.0
35096,BURGLARY OF VEHICLE,Theft,6-Feb-17,78758.0,3132188.0,10121986.0

In [149]:
# 2018 DF
crime_18_df = crime_data_18.drop(columns= {"council_district", "location", "district"})
crime_18_df

,highest_offense_desc,highest_offense,date,zip,x_coord,y_coord
0,AUTO THEFT,Auto Theft,10-Dec-18,78705.0,3118304.0,10078620.0
1,THEFT BY SHOPLIFTING,Theft,16-Oct-18,78723.0,3124601.0,10084923.0
2,BURGLARY OF VEHICLE,Theft,22-Jun-18,78703.0,3104471.0,10074894.0
3,BURGLARY OF RESIDENCE,Burglary,5-Jul-18,78751.0,3124538.0,10087177.0
4,BURGLARY OF VEHICLE,Theft,24-Sep-18,78727.0,3129160.0,10126575.0
...,...,...,...,...,...,...
37151,AUTO THEFT,Auto Theft,1-Jul-18,78748.0,3084825.0,10028443.0
37152,THEFT BY SHOPLIFTING,Theft,3-Dec-18,78704.0,3111061.0,10053193.0
37153,BURGLARY OF VEHICLE,Theft,31-Dec-18,78701.0,3115843.0,10066947.0
37154,AGG SEXUAL ASSAULT W OBJECT,Rape,4-Aug-18,78753.0,NaN,NaN
37155,BURGLARY OF VEHICLE,Theft,17-Jun-18,78702.0,3123414.0,10068927.0

In [153]:
crime_types= crime_18_df['highest_offense_desc']
print(crime_types)

0                         AUTO THEFT
1               THEFT BY SHOPLIFTING
2                BURGLARY OF VEHICLE
3              BURGLARY OF RESIDENCE
4                BURGLARY OF VEHICLE
                    ...
37151                     AUTO THEFT
37152           THEFT BY SHOPLIFTING
37153            BURGLARY OF VEHICLE
37154    AGG SEXUAL ASSAULT W OBJECT
37155            BURGLARY OF VEHICLE
Name: highest_offense_desc, Length: 37156, dtype: object

In [154]:
## Non-violent Crimes list pulled from SQL file in Database folder
# 'PUBLIC INTOX-SOBERING CENTER' , 'PUBLIC INTOXICATION' , 'GAMBLING PROMOTION' , 'URINATING IN PUBLIC PLACE'
# 'LIQUOR LAW VIOLATION/OTHER' , 'COMMUNICATING GAMBLING INFO' , 'FORGERY OF IDENTIFICATION'
# 'SIT AND LIE ORDINANCE VIOL' , 'DOC CREATING NOXIOUS ODOR' , 'MAIL THEFT'
# 'DRIVING WHILE INTOX / FELONY' , 'DEBIT CARD ABUSE' , 'DOC WINDOW PEEPING - HOTEL' , 'AMPLIFIED MUSIC / VEHICLE'
# 'ILLEGAL LABELLING OF RECORDING' ,'POSSESSION OF MARIJUANA' , 'ISSUANCE OF BAD CHECK'
# 'PROBATION VIOL' , 'HAZING' , 'ABANDONED REFRIGERATOR"' , 'POCKET PICKING' , 'TAMPERING WITH ID NUMBER', 
# GAMBLING' , 'THEFT BY SHOPLIFTING' , 'IDENTITY THEFT' , 'SLEEPING IN PUBLIC PLACE'
# 'GRAFFITI' , 'FORGERY - OTHER' , 'AUTO THEFT'

In [157]:
# Filter by Crime Type- each DF
offense_df_15 = crime_15_df.set_index("highest_offense_desc", drop= False)
offenses_df_15 = (offense_df_15.loc[offense_df["highest_offense_desc"].isin(['PUBLIC INTOX-SOBERING CENTER' , 'PUBLIC INTOXICATION' , 
                                                                             'GAMBLING PROMOTION' , 'URINATING IN PUBLIC PLACE', 
                                                                             'LIQUOR LAW VIOLATION/OTHER' , 'COMMUNICATING GAMBLING INFO' , 
                                                                             'FORGERY OF IDENTIFICATION' , 'SIT AND LIE ORDINANCE VIOL' , 
                                                                             'DOC CREATING NOXIOUS ODOR' , 'MAIL THEFT', 
                                                                             'DRIVING WHILE INTOX / FELONY' , 'DEBIT CARD ABUSE' , 'DOC WINDOW PEEPING - HOTEL' , 
                                                                             'AMPLIFIED MUSIC / VEHICLE', 'ILLEGAL LABELLING OF RECORDING' ,
                                                                             'POSSESSION OF MARIJUANA' , 'ISSUANCE OF BAD CHECK',
                                                                             'PROBATION VIOL' , 'HAZING' , 'ABANDONED REFRIGERATOR"' , 'POCKET PICKING' , 
                                                                             'TAMPERING WITH ID NUMBER', 'GAMBLING' , 'THEFT BY SHOPLIFTING' , 
                                                                             'IDENTITY THEFT' , 'SLEEPING IN PUBLIC PLACE', 'GRAFFITI' , 
                                                                             'FORGERY - OTHER' , 'AUTO THEFT'])])
offenses_df_15.head()

KeyError: 'highest_offense_desc'

In [158]:
g_key = "AIzaSyCQRY-TmfYIztg9E8oNyUjEknsy9e7KHNs"
gmaps.configure(api_key= g_key)

In [159]:
# Combine the data into a single dataset
data_merge = pd.merge(crime_15_df,crime_17_df,how="outer",on='highest_offense_desc')
data_merge.head()

MemoryError: Unable to allocate 1.62 GiB for an array with shape (217842597,) and data type int64

In [160]:
# mapping by zip or coordinates
# running API for gun, liquor stores
# mapping heat map, export to png